<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Рабочие программы по русскому языку</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let group of russian; let last=last">
        <h3 *ngIf="group.name">{{group.name}}</h3>
        <mat-list-item *ngFor="let res of group.resources">
          <mat-icon mat-list-icon>library_books</mat-icon>
          <h4 mat-line *ngIf="res.name">{{res.name}}</h4>
          <div mat-line>
            <a [href]="res.link">Ссылка для загрузки</a>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Рабочие программы по литературе</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let group of literature; let last=last">
        <h3 *ngIf="group.name">{{group.name}}</h3>
        <mat-list-item *ngFor="let res of group.resources">
          <mat-icon mat-list-icon>library_books</mat-icon>
          <h4 mat-line *ngIf="res.name">{{res.name}}</h4>
          <div mat-line>
            <a [href]="res.link">Ссылка для загрузки</a>
          </div>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Мои планы-конспекты уроков</mat-panel-title>
    </mat-expansion-panel-header>
    <p></p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Оценочные листы</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>library_books</mat-icon>
        <h4 mat-line>5 класс</h4>
        <div mat-line>
          <a routerLink="marks/5">Просмотр</a> <a href="/assets/teachers/mark-lists/marks5.docx" target="_blank">Загрузка</a>
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>library_books</mat-icon>
        <h4 mat-line>6 класс</h4>
        <div mat-line>
          <a routerLink="marks/6">Просмотр</a> <a href="/assets/teachers/mark-lists/marks6.docx" target="_blank">Загрузка</a>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
