<mat-card style="overflow: hidden; text-align: justify;">
  <img src="/assets/images/anastasiya_popova.jpg"
       width="200px"
       style="float: left; padding-left: 30px; padding-bottom: 10px; transform: scale(-1, 1)"
  />
  <p style="margin-top: 0;">
    Здравствуйте!
  </p>
  <p>
    Меня зовут Попова Анастасия Дмитриевна. Я учитель русского языка и литературы.
  </p>
  <p>
    Мой путь к профессии был предрешен с самого детства. Обе мои бабушки – педагоги, а мама – педагог – психолог. Именно бабушка Панкина Мария Васильевна (филолог, преподаватель русского языка, литературы и истории, а также преподаватель русского языка как иностранного) окончательно повлияла на выбор вуза. В 2011 году я поступила на филологический факультет ВГУ, который окончила в  2015 со степенью «бакалавр». В том же году я была принята на работу учителем русского языка и литературы в МБОУ СОШ №37. Параллельно я поступила на очное отделение магистратуры на филологический факультет ВГУ.  В 2017 году я завершила свое обучение. Теперь я магистр филологии.
  </p>
  <p>
    За два года работы я успела познакомиться с особенностями каждой ступени обучения (с 5го по 11 класс), так как помимо уроков русского языка и литературы веду урок культуры общения в названных классах.  В прошлом году выпустила 11 класс по предмету русский язык и литература. Все ученики сдали ЕГЭ по моему предмету успешно. Сейчас я веду русский язык и литературу в шестом и двух восьмых классах, а культуру общения в шестом, восьмых и девятых классах.
  </p>
  <p>
    Дополнительно с 2012 года (2 курса) занимаюсь репетиторством и уже выпустила не одного ученика с хорошими балами по ЕГЭ.   В качестве самосовершенствования учусь заочно на юридическом факультете ВГУ.
  </p>
  <p>
    Весной 2017 года вместе с бабушкой Панкиной М.В. приняли участие во Всероссийском форуме династий педагогов – словесников «Чтоб не распалась связь времен…» в Санкт – Петербурге. Из 280 участников со всей России мы вошли в двадцатку победителей и представляли Воронеж и Воронежскую область.
  </p>
  <p>
    Моим девизом являются слова педагога XIX века В.П.Острогорского: «Нужно помнить, что усвоение юношеством с самых мягких детских лет лучших образцов родной и общей словесности – дело чрезвычайно благотворное…так сказать, помимо самой жизни, одно из самых могущественных средств, при помощи которых юноша приобретает связь с родиной и человечеством…».
  </p>

</mat-card>
