<mat-card style="overflow: hidden">
  <img src="https://i.pinimg.com/736x/27/cf/cd/27cfcd2fefc4db6d3de473e3f7c7f00b--short-legs-weheartit.jpg"
       width="200px" height="180px" style="float: left; padding-right: 10px; padding-bottom: 10px;"
  />
  <p>
    Sed feugiat volutpat elit, at sollicitudin eros lacinia non.
    Duis luctus at urna non semper. Ut vitae accumsan elit.
    Nunc sapien diam, tincidunt eu sem a, placerat varius lectus.
    Aenean vehicula, nisi ac accumsan pulvinar, ipsum odio viverra augue, quis convallis sapien eros quis lectus.
    Pellentesque sollicitudin feugiat interdum. Etiam at placerat nisl.
    Suspendisse diam nulla, mollis sit amet odio nec, vestibulum feugiat leo.
    Nullam non euismod felis. Nunc ullamcorper magna erat, ac elementum ligula faucibus ac.
    Phasellus luctus elit condimentum nunc finibus elementum.
  </p>

  <p>
    Donec posuere vel sem non mattis.Nulla sit amet nisi vel velit fringilla pulvinar at quis ante.
    Etiam facilisis ipsum lectus, eu vehicula sem fermentum cursus.
    Sed pharetra laoreet risus, in tempus magna iaculis id. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Etiam sit amet tincidunt diam, a bibendum massa. Quisque auctor nunc et velit pulvinar sollicitudin.
    In fringilla, turpis sit amet aliquam maximus, nulla lectus vestibulum dui, quis elementum nisl turpis nec odio.
    Proin arcu nunc, pretium et erat sed, mattis posuere arcu. Proin condimentum purus ipsum.
    Quisque dignissim tempor dolor, sit amet mollis nisl luctus et. Mauris at ullamcorper leo, et malesuada sapien.
    Sed massa ligula, pharetra nec ligula a, rhoncus molestie lacus. Nunc varius aliquet ante sed aliquet.
    Praesent sit amet felis in neque mollis sodales. Ut lacus nulla, condimentum non vestibulum id, varius in sem.
  </p>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Мои увлечения</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Donec luctus odio et dui malesuada, nec faucibus erat lobortis.
      Sed arcu ex, scelerisque a elementum ut, mattis non urna.
      Duis rutrum vehicula tortor, non egestas odio cursus sit amet.
      Pellentesque fermentum et nunc sit amet tempus.
      Mauris imperdiet nunc in nisi dignissim tristique.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed urna libero, interdum vitae dui id, finibus tempor risus.
      Fusce ante dolor, pharetra ac tempor eu, sagittis in elit.
      Aenean varius enim at rutrum elementum.
      Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Еще что то про меня</mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Quisque congue sed tellus id laoreet. Morbi turpis sapien, hendrerit et neque ac, imperdiet aliquet arcu.
      Donec molestie massa et dui aliquet ornare. Suspendisse potenti.
      Donec ultricies elit varius, euismod dolor in, rutrum est.
      Praesent vestibulum ullamcorper sem, quis convallis risus facilisis id.
      Quisque aliquam nisi ac enim mollis scelerisque. Nullam in elit et quam vehicula sagittis.
      Sed egestas nisl et ipsum egestas, a facilisis neque venenatis. Sed in varius libero.
      Nunc mattis sollicitudin ex eu tristique. Cras porta eleifend orci, sed dignissim nibh gravida lobortis.
      Curabitur metus ex, ornare sed urna a, eleifend eleifend dui. Nulla non semper libero, nec aliquam diam.
    </p>
  </mat-expansion-panel>
</mat-accordion>
