img {
  max-width: 70vw;
  max-height: 70vh;
}

.nav {
  position: relative;
}

.nav-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  margin-left: -23px;
}

.nav-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
}

.nav-arrow {
  height: 32px;
  width: 20px;
  background-image: url(/assets/images/pv_layer_controls.png);
  position: absolute;
  top: 50%;
  margin-top: -16px;
  opacity: 1;
  transition: opacity 300ms ease;
}

.nav-left-arrow {
  background-position: 0px -25px;
}

.nav-right-arrow {
  background-position: 0px -63px;
}
