<mat-card>
  <mat-card-header>
    <mat-card-title>Теория русского языка</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Лексика и фразеология</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/lexycs.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Фонетика и графика</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфемика и словообразования</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/morphemics.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Синтаксис</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/syntax.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфология</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Разборы</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Фонетический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/phonetic.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфемный</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/morthem.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфологический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path="/assets/students/analysis/morthologic.md"></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Синтаксический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/morphemics.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Словообразовательный</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>
<!--<mat-accordion>-->
<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>Теория русского языка</mat-panel-title>-->
<!--</mat-expansion-panel-header>-->
<!--<div>-->
<!--<h3>Лексика и Фразеология</h3>-->
<!--<span mathjax="$\frac 12$"></span>-->
<!--<span mathjax="\frac 12"></span>-->
<!--<span mathjax="$\\frac 12$"></span>-->
<!--<span mathjax="\\frac 12"></span>-->
<!--<markdown path='/assets/students/russian-theory/test.md'></markdown>-->
<!--<p>Aenean vehicula suscipit tellus in pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur mollis felis erat, at congue massa ullamcorper vitae. Duis aliquam, justo vitae auctor euismod, sem augue convallis enim, vel maximus risus nunc pulvinar libero. Sed blandit venenatis metus nec consectetur. Nam egestas metus turpis, non suscipit ex dapibus ac. Maecenas blandit luctus eleifend. Nulla quis ornare ligula. Donec vel feugiat orci. Suspendisse sed eros ultricies leo dignissim posuere a sit amet ante. Mauris scelerisque suscipit mi commodo tristique. Phasellus viverra vitae sem at bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus porttitor euismod nibh, et auctor justo congue et. Morbi congue porttitor iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Фонетика и Графика</h3>-->
<!--<p>Curabitur pharetra in lectus vitae tincidunt. Praesent blandit lectus nulla, eget cursus nisl sollicitudin at. Curabitur et leo tincidunt mauris accumsan faucibus eget tincidunt tortor. In hac habitasse platea dictumst. Donec id erat eu felis scelerisque rutrum nec ac tellus. Nulla iaculis quam a erat eleifend, et tempus mauris lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>-->
<!--<p>Nam ullamcorper nisi augue, id varius purus rhoncus quis. Donec sollicitudin urna eu congue vulputate. Quisque semper aliquet ex, a cursus risus elementum sed. Aenean pulvinar, lectus sit amet rhoncus ornare, orci elit ullamcorper urna, et feugiat lacus elit et metus. Proin gravida dui vehicula ex tincidunt, at rutrum purus tempor. Fusce vel eros a tortor consectetur euismod. Nam eleifend orci vitae eros porttitor, commodo volutpat turpis congue. Proin tincidunt, velit eu elementum vestibulum, velit odio sodales ligula, a convallis urna magna eget diam. Curabitur iaculis sollicitudin augue, a malesuada nunc auctor in. Praesent vel mauris blandit, lacinia purus ut, posuere ante.</p>-->
<!--<p>Quisque varius magna ac nibh facilisis, sit amet bibendum nunc mattis. Integer ut facilisis nisi. Maecenas justo sem, accumsan at felis at, porttitor luctus lacus. Vivamus dolor lorem, egestas et viverra eget, iaculis nec orci. Etiam in risus quis quam aliquam ultrices vel et metus. Fusce ligula odio, faucibus at pharetra at, maximus quis nibh. Vestibulum venenatis nisl turpis, sed aliquam sapien luctus et. Phasellus convallis, nisi sit amet congue imperdiet, lectus magna dictum lectus, at hendrerit neque odio vitae risus. Etiam ornare nisl eu lorem sodales ultrices. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec laoreet dignissim est vitae semper. Nam non lacus venenatis, aliquam augue in, gravida ante. Sed ultricies iaculis aliquam.</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Словообразование</h3>-->
<!--<p>Vestibulum eget libero ut dolor posuere rutrum. Donec quis enim in ligula laoreet bibendum in quis dolor. Nullam ut mattis enim. Curabitur iaculis velit quis elementum pulvinar. Phasellus rutrum rhoncus porttitor. Proin dui ex, scelerisque ac sapien et, feugiat lobortis orci. Nunc convallis eu neque vitae tempor. Fusce feugiat diam a turpis fringilla, facilisis sodales mi dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Синтаксис</h3>-->
<!--<p>Donec non venenatis augue. Quisque eleifend eros at tortor ultrices tempus. Praesent et fringilla purus. Ut tincidunt, ante dapibus congue faucibus, purus dui pharetra orci, quis eleifend nunc libero id nisi. Integer sed mollis quam. Pellentesque vulputate dui quis tortor tincidunt, nec hendrerit dolor bibendum. Quisque varius ac nulla consequat convallis. Donec fringilla nisi eros, nec placerat diam lacinia vitae.</p>-->
<!--<p>Proin efficitur arcu libero, suscipit hendrerit diam sollicitudin ac. Praesent finibus nisl at magna euismod vestibulum. Fusce eleifend placerat augue, sed luctus massa volutpat quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a dui bibendum, luctus nisl sagittis, vestibulum nunc. Morbi tortor enim, ultricies quis imperdiet nec, suscipit in dolor. Quisque sed ullamcorper ipsum.</p>-->
<!--</div>-->
<!--<div>-->
<!--<h3>Морфология</h3>-->
<!--<p>Etiam elit justo, rhoncus eu ultrices eu, volutpat nec sapien. Sed lobortis dignissim sollicitudin. Suspendisse imperdiet mi at libero vehicula mollis. Donec id ante quis felis egestas consequat condimentum in mauris. Etiam placerat, ligula eu hendrerit porttitor, ante elit dictum lacus, non iaculis mauris leo et odio. Nam augue sapien, dignissim non dolor et, maximus sollicitudin erat. Sed eleifend velit aliquet elit gravida ultrices. Duis efficitur libero id tortor commodo, id viverra est luctus. Mauris mollis nunc a magna scelerisque, eget fermentum tellus cursus. Vestibulum laoreet dui in justo volutpat semper. Proin mattis lorem nunc, at pulvinar orci bibendum eu. Cras vitae sodales tortor. Nulla at nunc eu massa pellentesque viverra. Sed imperdiet eros vel ex pharetra cursus. Duis sollicitudin vestibulum dolor, nec mollis orci egestas a. Donec vel dapibus nisl.</p>-->
<!--<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id eros porttitor velit condimentum condimentum. Quisque vulputate tortor vitae tellus ultrices, quis tempor magna semper. In consectetur metus malesuada sem sollicitudin, in dignissim urna condimentum. Sed justo dui, pretium id purus nec, porta mattis orci. Pellentesque rhoncus porttitor erat vel commodo. Nunc mattis, velit sit amet posuere sagittis, ante velit mollis dolor, at pulvinar sem eros ac lectus. Morbi et lorem at mi aliquet euismod molestie eget velit. Nulla eget nisl suscipit, venenatis arcu a, pharetra felis. Quisque tortor nibh, ullamcorper vel rhoncus ac, interdum sed turpis. Nullam sed enim metus. Integer scelerisque efficitur felis, nec tincidunt libero pellentesque sed. Phasellus tempus ultricies mollis.</p>-->
<!--</div>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>Разборы</mat-panel-title>-->
<!--</mat-expansion-panel-header>-->
<!--<p></p>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>Основные орфографические и пунктуационные правила</mat-panel-title>-->
<!--</mat-expansion-panel-header>-->
<!--<p></p>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel>-->
<!--<mat-expansion-panel-header>-->
<!--<mat-panel-title>Упражнения</mat-panel-title>-->
<!--</mat-expansion-panel-header>-->
<!--<p></p>-->
<!--</mat-expansion-panel>-->
<!--</mat-accordion>-->
