<mat-card style="text-align: justify;">
  <mat-card-header>
    <mat-card-title>Теория русского языка</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Лексика и фразеология</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/lexycs.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Фонетика и графика</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/phonetics.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфемика и словообразования</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/morphemics.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Синтаксис</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/russian-theory/syntax.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфология</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Глагол</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/verb.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Деепричастие</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/gerund.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Имя прилагательное</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/adjective.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Имя существительное</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/noun.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Имя числительное</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/numeral.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Категория состояния</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/condition.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Местоимение</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/pronoun.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Наречие</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/adverb.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Причастие</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/participle.md"></markdown>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Служебные части речи</mat-panel-title>
            </mat-expansion-panel-header>
            <markdown path="/assets/students/russian-theory/morphology/auxiliary.md"></markdown>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-expansion-panel>

    </mat-accordion>

  </mat-card-content>
</mat-card>
<mat-card style="text-align: justify;">
  <mat-card-header>
    <mat-card-title>Разборы</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Фонетический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/phonetic.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфемный</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/morthem.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Морфологический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path="/assets/students/analysis/morthologic.md"></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Синтаксический</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/syntax.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Словообразовательный</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/analysis/word-formation.md'></markdown>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>

<mat-card style="text-align: justify;">
  <mat-card-header>
    <mat-card-title>Основные орфографические и пунктуационные правила</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>5 класс</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/rules/5.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>6 класс</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/rules/6.md'></markdown>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>7 класс</mat-panel-title>
        </mat-expansion-panel-header>
        <markdown path='/assets/students/rules/7.md'></markdown>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
