<mat-card>

  <div style="display: flex; flex-direction: row;">
    <button mat-icon-button (click)="back()" matTooltip="Назад">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h2 style="margin: 8px;"><span>Просмотр документа "{{id}}"</span></h2>
    <div class="spacer"></div>
    <a mat-icon-button [href]="downloadPath" target="_blank" matTooltip="Скачать">
      <mat-icon>file_download</mat-icon>
    </a>
  </div>

  <mat-card-content>
    <app-pdf *ngIf="path" [source]="path" class="horizontal" (after-load-complete)="completed()"
             [ngStyle]="{display: complete ? block : none}">
    </app-pdf>
    <div *ngIf="!complete" style="display: flex; justify-content: center; align-items: center;">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card-content>

</mat-card>
