@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~prismjs/themes/prism.css';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: column;
}

.body .content {
  flex: 1 1 100%;
  max-width: 1024px;
}

.body .content nav {
  z-index: 10;
  width: 1024px;
}

.body .content nav div.mat-tab-links {
  display: flex !important;
  justify-content: center !important;
}

.body .content .page {
  padding-top: 5px;
}

app-pdf.horizontal .page {
  margin-top: -60px !important;
}

.spacer {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 1024px;
}

.syntax span {
  background: url(/assets/images/syntax.png) repeat-x 0 -12px;
  padding-bottom: 4px;
}

.syntax .definition {
  background-position: 0 -51px;
}

.syntax .subject {
  background-position: 0 -4px;
}

.syntax .adverbial {
  background-position: 0 -97px;
}

.syntax .predicate {
  background-position: 0 -28px;
}

.syntax .aplification {
  background-position: 0 -74px;
}

.map-container-inner
{
  width: 600px ;
  height: 400px;
}
