<mat-card>
  <h3 style="text-align: center;">Добро пожаловать!</h3>
  <div class="div-flex-parent">
    <div class="div-flex-child" style="flex: 1;">
      <p style="margin-top: 0">
        Удачи вам, сельские и городские<br/>
        Уважаемые учителя!<br/>
        Добрые, злые и никакие<br/>
        Капитаны на мостике корабля.<br/>
        Удачи вам, дебютанты и асы, удачи!<br/>
        Особенно по утрам,<br/>
        Когда вы входите в школьные классы,<br/>
        Одни – как в клетку,<br/>
        Другие – как в храм.<br/>
        Удачи вам, занятые делами,<br/>
        Которых не завершить все равно.<br/>
        Крепко скованные кандалами инструкций<br/>
        И окриков из РОНО.<br/>
        Удачи вам, по-разному выглядящие.<br/>
        С затеями и без всяких затей,<br/>
        Любящие или же ненавидящие<br/>
        Этих – будь они трижды – детей…<br/>
        … Вы знаете,<br/>
        Мне по-прежнему верится,<br/>
        Что, если останется жить земля, -<br/>
        Высшим достоинством Человечества<br/>
        Станут когда – нибудь учителя!<br/>
        Не на словах, а по вещей традиции,<br/>
        Которая завтрашней жизни под стать,<br/>
        Учителем надо будет родиться.<br/>
        И только после этого стать!<br/>
        Он, даже если захочет, не спрячется:<br/>
        На него, идущего ранней Москвой,<br/>
        Станут прохожие оборачиваться,<br/>
        будто на оркестр духовой!<br/>
        В нем будет мудрость, талантливо – дерзкая.<br/>
        Он будет солнце нести на крыле…<br/>
        Учитель – профессия дальнего действия,<br/>
        Главная на Земле.<br/>
      </p>
      <p style="text-align: right;margin-top: 20px;">
        <i>Р. И. Рождественский</i>
      </p>
    </div>
    <div class="div-flex-child" style="padding-left: 20px; flex: 2;">
      <div>
        <span style="text-align: center;">Здравствуй, ученик!</span>
        <p>Здесь ты найдешь необходимую теоретическую информацию по русскому языку, сможешь обратиться за помощью к любому словарю и скачать учебник по русскому или литературе.</p>

        <span style="text-align: center;">Здравствуйте, коллеги!</span>
        <p>На сайте собраны ссылки на рабочие программы по русскому и литературе с 5 по 9 классы, представлены мои разработки уроков, всем необходимые примеры оценочных листов, а также множество полезных интернет ресурсов для работы и учебы.</p>

        <p>В добрый путь!</p>
      </div>


      <div>
        <hr class="separator"/>
      </div>

      <div>
        <p style="text-align: center;">
          «В начале жизни школу помню я…»<br/>
          <i>А. С. Пушкин</i>
        </p>

        <p style="text-align: center;">
          «Учитель! перед именем твоим<br/>
          Позволь смиренно преклонить колени!»<br/>
          <i>Н. А. Некрасов</i>
        </p>
        <p style="text-align: center;">
          «Чтобы быть хорошим преподавателем, нужно<br/>
          любить то, что преподаешь, и любить тех,<br/>
          кому преподаешь».<br/>
          <i>В. О. Ключевский</i>
        </p>
      </div>

    </div>
  </div>
</mat-card>
